<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<!--<bean id="accountService" class="com.itheima.service.impl.AccountServiceImpl">-->
<!--&lt;!&ndash;<constructor-arg name="accountDao" ref="accountDao"></constructor-arg>&ndash;&gt;-->
    <!--<property name="accountDao" ref="accountDao"></property>-->
<!--</bean>-->
    <!--&lt;!&ndash;@Component 其value为id&ndash;&gt;-->
    <!--&lt;!&ndash;它的衍生注解有web层的@Controller、service层的@Service、Dao层的@Repository&ndash;&gt;-->
    <!--<bean id="accountDao" class="com.itheima.mapper.impl.AccountDaoImpl"></bean>-->
    <context:component-scan base-package="com.itheima"></context:component-scan>
</beans>