<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!--应用名称-->
    <dubbo:application name="provider"></dubbo:application>
    <dubbo:registry protocol="zookeeper" address="192.168.28.132" port="2181"></dubbo:registry>
    <dubbo:protocol name="dubbo" port="20880"></dubbo:protocol>
    <!--<bean class="com.lcl.dubbo.service.impl.TestServiceImpl" id="testService"></bean>-->
    <!--<dubbo:service interface="com.lcl.dubbo.service.TestService" ref="testService"></dubbo:service>-->
    <dubbo:annotation package="com.lcl.dubbo.service"></dubbo:annotation>
    <!--数据源-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="username" value="root"/>
        <property name="password" value="199656"/>
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/pinyougoudb"/>
    </bean>
    <!-- 事务管理器  -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--开启事务控制的注解支持-->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>
</beans>
