<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for遍历数组</title>
    <script src="js/vuejs-2.5.16.js"></script>
</head>
<body>
<div id="app">
    <ul>
        <li v-for="(value,index) in arr">{{value}}----{{index}}</li>
    </ul>
    <hr>
    <ul>
        <li v-for="(value,index) in list">{{value.username}}----{{value.age}}----{{index}}</li>
    </ul>
</div>
</body>
<script>
    //view model
    new Vue({
        el:"#app",
        data:{
            arr:['aaa','bbb','ccc'], //model
            list:[{username:"张三",age:18},{username:"李四",age:22}]
        }
    });
</script>
</html>